.dice-game {
  width: 100%;
  background: #121212;
  display: flex;
  padding: 25px 25px 25px 49px;
  flex-direction: column;

  .game-mult {
    color: #ffffff;
    font-family: stolzlRegular, sans-serif;
    font-size: 128px;
    line-height: 154px;
    text-align: center;
    margin-top: 209px;
    margin-bottom: 162px;
    span {
      color: #ffffff;
      font-family: stolzlRegular, sans-serif;
      font-size: 64px;
      line-height: 77px;
    }
  }
  .dice-range-midlight {
    background: #141414;
    padding: 30px 24px 57px 24px;
    border-radius: 15px;
    margin-top: 172px;
  }
  .dice-range-light {
    background: #1e1e1e;
    padding: 8px 12px;
    border-radius: 10px;
  }
  .dice-range {
    background: #161616;
    height: 34px;
    padding: 9px 6px;
    border-radius: 19px;
    position: relative;
    .game-state-qube {
      position: absolute;
      top: -102px;
      z-index: 3;
      span {
        color: #00ff01;
        font-family: stolzlRegular, sans-serif;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    input {
      -webkit-appearance: none;
      width: 100%;
      background: #cc1c1c;
      height: 15px;
    }
    .irs--flat.irs-with-grid {
      top: -25px;
    }
    .irs--flat .irs-bar {
      background: #00e701 !important;
      border-radius: 19px;
      height: 15px;
    }
    .irs--flat .irs-line {
      background: #cc1c1c;
      border-radius: 19px;
      height: 15px;
    }
    .irs--flat .irs-handle {
      background: url("../icons/range-handler.svg");
      width: 32px;
      height: 32px;
      top: 16px;
      cursor: pointer;
    }
    .irs--flat .irs-handle > i:first-child {
      background: transparent;
    }
    .irs-min,
    .irs-max,
    .irs-single {
      display: none;
    }
    .irs--flat .irs-grid-pol {
      display: none;
    }
    .irs-grid-text {
      color: #fff;
      font-size: 16px;
      line-height: 19px;
      top: 36px;
    }
  }
  .game-inputs {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    background: #1e1e1e;
    margin-top: 216px;
    padding: 16px 18px 16px 18px;
    div {
      position: relative;
      width: 100%;
      p {
        color: #5b5b5b;
        font-family: stolzlRegular, sans-serif;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 9px;
      }
    }
    input {
      border-radius: 5px;
      background: #161616;
      width: 100%;
      height: 49px;
      color: #ffffff;
      padding: 0 10px;
      font-size: 14px;
      line-height: 17px;
      border: none;
    }
    span {
      position: absolute;
      color: #5b5b5b;
      font-family: stolzlBold, sans-serif;
      font-size: 20px;
      line-height: 24px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    .exchage-btn {
      background: #212121;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #1a1a1a;
      }
    }
  }
}

@media (max-width: 900px) {
  .dice-game {
    padding: 30px 0;
    .dice-range-midlight {
      background: #141414;
      padding: 0px 5px 0px 5px;
      border-radius: 15px;
      margin-top: 90px;
    }
    .game-inputs {
      align-items: end;
      margin-top: 60px;
    }

    .dice-range {
      .game-state-qube {
        top: -80px;
        height: 100px;
        width: 100px;
        span {
          font-size: 15px;
        }
        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}
