.stairs-game {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  background: #121212;
  padding: 20px;
  .stairs-game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 500px;
    margin: 0 auto;
  }
  .stairs-row {
    display: flex;
    align-items: center;
    gap: 1px;
  }
  .stair {
    border-radius: 5px;
    background: #191919;
    height: 15px;
    max-width: 42.14px;
    width: 100%;
    &.hidden {
      background: transparent;
    }
  }
}
@media (max-width: 900px) {
  .stairs-game {
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    background: #121212;
    padding: 0;
    gap: 10px 5px;
    .stairs-game-wrapper {
      justify-content: center;
      scale: 0.95;
      width: 100%;
      padding: 0;
    }
    .stair {
      border-radius: 5px;
      background: #191919;
      height: 18px;
    }
  }
}
