.stairs-game {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  background: #121212;
  padding: 40px 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 25px;
  .stairs-row {
    display: flex;
    align-items: center;
    gap: 2.75px;
  }
  .stair {
    border-radius: 5px;
    background: #191919;
    height: 26px;
    max-width: 42.14px;
    width: 100%;
  }
}
@media (max-width: 720px) {
  .stairs-game {
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    background: #121212;
    padding: 40px 0;
    padding: 20px;
    justify-content: center;
    gap: 10px 5px;
    .stair {
      border-radius: 5px;
      background: #191919;
      height: 18px;
    }
  }
}
